language: go
go: 1.4

notifications:
  email: false

before_install:
  - go version
  - go get github.com/mattn/goveralls
  - go get golang.org/x/tools/cmd/cover
  - pip install --user codecov

install:
  - go get -t -d -v ./...

script:
  - sh test_cover.sh

after_success:
  - $HOME/gopath/bin/goveralls -coverprofile=.profile.cov -repotoken $COVERALLS_TOKEN
  - codecov
